body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul li {
  font-size: 18px;
  color: white;
}

.header {
  background-image: url(resources/images/the-flatiron-building.png);
}
